body {
	background-color: #B3B6B7;
}
h1 {
	     background-color: #5DADE2;
         color: #FFFFFF;
       }
li{
		text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding-left:3px;
     padding-right:3px;

	}	

	.separador {
    color:gray;
	}
nav{
		text-align: center;
		font-size: 20px;
   }
p {
  font-family: "Homer Simpson", cursive;
  color: white;
}
footer {
		background:#5DADE2;
		color:#FFFFFF;
		font-size: 20px;
	}
a{
	color: white;
}	
