body{
    background: #bcced8;
    color: red;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    border-radius: 5px;
}

a:hover{
    color: #FF7B00;
}

img{
    display: block;
      margin-left: auto;
      margin-right: auto;
}
#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
}

ul, ol {
    list-style:none;
}

.nav {
    width:500px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}