body{
    background-color: #EE0B0B;
}
p{
  font-size: 18px;
  color: white;
}
img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-color: #000000;
      width: 500px;
      height: 500px;
}
h1{
    color: black;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
a:hover{
    color: #FF7B00;
}
li{
    display: inline;
    margin: 30px;
    background-color: white;
    border-radius: 5px;
}