body{
	background: #31a592;
	font-family: Arial;
}
#lol{
	text-align: center;
	color: yellow;
}
header h1{
	color: green;
}
a:hover{
	color: red;
}
nav{
	text-align: center;
}
a{
	text-align: center;
	text-decoration: none;
	color:yellow;
}
li{
	display: inline-block;
}
footer{
	position: absolute;
	bottom: 0%;
	top: 100%;
	width: 500px;
	text-orientation: bottom;
	text-align: left;
}
figure{
   top: 50%;
   left: 30%;
   position: absolute;
   margin-top: -200px;
   margin-left: -300px;
}
figcaption{
	text-align: center;
}
img{
	width: 600px;
	height: 500px;
}
.menu {
    float: left;
    margin-top: 5px;
    margin-left: 250px;
    width: 750px;
}
.menu li {
    border-right: 1px solid #9B9A9A;
    float: center;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.menu li:last-child {
    border-right:none;
}
.menu li a {
    color: blue;
    text-decoration: none;
}
.menu li a:hover {
    color: red;
    text-decoration: none;
}
applet{
	position: absolute;
	left: 60%;
	top: 50%;
}