body{
    background-color: #EDC307;
}
header{
    color: #2723F5;
    font-size: 20px;
}
h1{
    text-align: center;
    color: #0C08FB;
    text-decoration: underline;
}
table{
    border: black solid;
    border-collapse: separate;
    margin: 0 auto;
    font-size: 20px;
}
thead{
    background-color: green;
    text-align: center;
}
tbody{
    background-color: #97bee5;
}
tr{
    border: black 5px solid; 
}
td{
    border: black solid; 
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover{
    color: #FF7B00;
}
li{
    display: inline;
    margin: 30px;
    background-color: #FB030C;
    border-radius: 5px;
}
nav{
    text-align: center;
}
p{
    font-family: cursive;
    font-size: 18px;
}