header{
	position: relative;
	background: #03FFBE;
}
h1{
	color: #A523FE;
	text-align: center;
}
h2{
	font-size: 23px;
	font-family: Verdana;
}
u{
	color: #FD0303;
}
#items{
	position: absolute;
	right: 300px;
	background-color: #31a592;
}
#tamaño{
	font-family: cursive;
	font-size: 19px;
}
#lista{
	font-size: 18px;
}
#pie{
	text-align: center;
	background-color: #5EFD03;
	font-size: 18px;
    height: 34px;
    padding: 15px 0 14px;
    position: absolute;
    width: 100%;
	bottom: 0;
	top: 175%;
}
#linea{
	text-align: center;
	display: inline-block;
	font-size: 18px;
}
a{
	text-decoration: none;
	font-size: 18px;
	color: #7C03FD;
	font-size: 20px;
}
a:hover{
	text-decoration: underline;
}